
<section id="hero" class="palette">    
<div id="hero-banner">

  <div class="container">
  <div class="row">
  
    <h1 class="text-center text-shadow-dark">{{ site.title }}</h1>

    <h3 class="text-center horizontal-padding-small text-light">A picture may be worth a thousand words, but offering a working example for your clients is priceless!  With MockMach, you can rapidly turn your wireframes, PSD's, and ideas into live, functioning, beautiful websites.</h3>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container">
  <div class="row">

    <div id="slideshow" class="hover-div">
      <a href="{{ site.baseurl }}/mocks/example">
      <img src="{{ site.baseurl }}/assets/img/slides/visual-explaination.png" class="slide img-responsive" alt="Visual Explaination of MockMach">
      </a>
    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->
  
</div><!-- /#hero-banner -->
</section><!-- /#hero -->
