
<section id="hero" class="palette">    
<div id="hero-banner">

  <div class="container container-narrow">
  <div class="row">
  
    <h1 class="text-center text-shadow-dark">{{ site.title }}</h1>
    <h2 class="text-center">{{ site.tagline }}</h2>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container">
  <div class="row">

    <div id="slideshow">
      <img src="{{ site.baseurl }}/assets/img/slides/bootstrap-responsive.png" class="slide img-responsive" alt="Bootstrap">
    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->
  
</div><!-- /#hero-banner -->
</section><!-- /#hero -->
