<section id="purpose-header-section" class="palette">
<div id="purpose-header">

  <div class="container horizontal-padding-large">
  <div class="row row-stack background-translucent" id="title">
    
    <div class="col-md-4 col-lg-4">
      <img src="{{ site.baseurl }}/assets/img/youtube.jpg" class="img-responsive" alt="title" />
    </div>
  
    <div class="col-md-8 col-lg-8">
      <h2>Number One</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta ex placerat auctor facilisis. Donec et augue scelerisque nisi facilisis porta sed quis lacus. Sed arcu ex, eleifend non lacinia ac, volutpat eget ipsum.</p>
    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container horizontal-padding-large">
  <div class="row row-stack background-translucent" id="title">
  
    <div class="col-md-8 col-lg-8">
      <h2>Number One</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta ex placerat auctor facilisis. Donec et augue scelerisque nisi facilisis porta sed quis lacus. Sed arcu ex, eleifend non lacinia ac, volutpat eget ipsum.</p>
    </div>
    
    <div class="col-md-4 col-lg-4">
      <img src="{{ site.baseurl }}/assets/img/youtube.jpg" class="img-responsive" alt="title" />
    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container horizontal-padding-large">
  <div class="row row-stack background-translucent" id="title">
    
    <div class="col-md-4 col-lg-4">
      <img src="{{ site.baseurl }}/assets/img/youtube.jpg" class="img-responsive" alt="title" />
    </div>
  
    <div class="col-md-8 col-lg-8">
      <h2>Number One</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta ex placerat auctor facilisis. Donec et augue scelerisque nisi facilisis porta sed quis lacus. Sed arcu ex, eleifend non lacinia ac, volutpat eget ipsum.</p>
    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#purpose-header -->
</section><!-- /#purpose-header-section -->
