<section id="purpose-header-section" class="palette">
<div id="purpose-header">

  <div class="container container-narrow horizontal-padding-large">
  <div class="row wow fadeInUp" data-wow-offset="200">
    
    <div class="col-md-3 col-lg-3">
      <div class="square-dark text-light">1</div>
    </div>
  
    <div class="col-md-9 col-lg-9">
      <h2 class="text-center">Get MockMach</h2>
      <p class="text-center"><a href="{{ site.baseurl }}/download">Grab the MockMach codebase</a>.</p>
    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container container-narrow horizontal-padding-large">
  <div class="row wow fadeInUp" data-wow-offset="200">
    
    <div class="col-md-4 col-lg-4">
      <div class="square-dark text-light">2</div>
    </div>
  
    <div class="col-md-8 col-lg-8">
      <h2 class="text-center">Code & Design</h2>
      <p class="text-center">Use markdown templates and Sass to quickly build your mock-up.</p>
    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container container-narrow horizontal-padding-large">
  <div class="row wow fadeInUp" data-wow-offset="200">

    <div class="col-md-4 col-lg-4">
      <div class="square-dark text-light">3</div>
    </div>
  
    <div class="col-md-8 col-lg-8">
      <h2 class="text-center">Present</h2>
      <p class="text-center">Deploy (for free) or email your client the mock-up site.</p>
    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#purpose-header -->
</section><!-- /#purpose-header-section -->
