
<ul class="nav nav-stacked">
    <li{% if page.subheader == "Overview" %} class="active"{% endif %}>
        <a href="{{ site.baseurl }}/docs"><i class="fa fa-puzzle-piece"></i>&nbsp;Overview</a>
    </li>

    <li{% if page.subheader == "Installation" %} class="active"{% endif %}>
        <a href="{{ site.baseurl }}/docs/install"><i class="fa fa-cogs"></i>&nbsp;Installation</a>
    </li>

    <li{% if page.subheader == "Structure" %} class="active"{% endif %}>
        <a href="{{ site.baseurl }}/docs/structure"><i class="fa fa-cubes"></i>&nbsp;Structure</a>
    </li>
</ul>
